body {
  text-align: center;
  color: rgb(158, 117, 117);
  background-color: antiquewhite;
  font-size: 18px;
}
a {
  color: darkolivegreen;
  text-decoration: none;
  margin: 0 15px;
}
@media (max-width: 576px) {
  body {
    color: maroon;
    background-color: wheat;
    font-size: 14px;
  }
}
.intro-pic {
  margin: 30px auto;
  max-width: 100%;
  border-radius: 8px;
}
.contact-email {
  font-size: 28px;
}
